* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.controlPanel {
    display: flex;
    justify-content: center;
}

.allContent {
    margin: auto;
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border-right: 1px solid;
    border-left: 1px solid;
}

.QuestionnaireCard {
    margin: 10px auto;
    width: 65%;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .QuestionnaireCard {
        width: 95%;
    }
}

.formControl {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.questionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.addQuestionButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.endOfCreate {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.LoginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}