.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;

}



.myModalContent{
    padding: 25px;
    background: white;
    min-width: 400px;
    border: 2px solid black;

}

.numberOfQuestion{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.checkBox{
    display: flex;
    flex-direction: row;
    align-items: center;

}

